
.content-list__tasks {
    display: flex;
    flex-direction: column;
  }
  
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: var(--main-white);
    border-bottom: 1px solid var(--main-grin);
    background: var(--main-grey-01);
      backdrop-filter: blur(6px);
    color: var(--main-white);
  }
  
  .hidden {
    display: none;
  }
  
  .check {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-grey-06);
    border-radius: 7px;
    cursor: pointer;
    transition: transform .3s ease;
    &:hover {
          transform: scale(1.2);
      
    }
  }
  
  .check:checked {
    background-image: url(/src/img/alb.png);
    background-repeat: no-repeat;
    // background-position-y: 
    // background-color: var(--main-grin-07);
    background-size: 18px;
    background-position-x: 0.6px;
    background-position-y: -4px;
    border: none;
    border-radius: 7px;
    }
  
  .text {
    flex: auto;
    font-family: 'Abel';
    display: inline-block;
    margin-left: 5px;
    font-family: 'Bubbler One'; 
    overflow: hidden;
  }
  
  .box > .check:checked + p {
        color: var(--main-grin);
        text-decoration: line-through;  
    }
  
  .deleted {
    margin-right: 7px;
    width: 17px;
    cursor: pointer;
    transition: transform .3s ease;
    padding: 5px;
    transition: .3s;
  
    &:hover {
      background-color: var(--main-grin-07);
      border-radius: 10px;
  
    }  
  }