.select-all {
  display: flex;
  flex-direction: row;
  background-color:  var(--main-grey-04);
  justify-content: center;
  visibility: hidden;
}

.visible {
  visibility: visible;
}
  
.select-all__checkbox {
  display: none;
  appearance: none;
}
  
.select-all__label {
  background-color: var(--main-grey-05);
  font-family: 'Bubbler One'; 
  font-style: normal;
  font-weight: 400;
  border: none;
  cursor: pointer;
  padding: 3px;
  transition: background-color 0.2s;
  
    &:hover {
      background-color: var(--main-grin-03);
    } 
  }
  
  .select-all__all {
    color: var(--main-grin);
  }