body {
  background-image: url(../../img/foon.jpg);
  background-size: cover;
  background-position-x: center;
  

  
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  box-shadow: 0 0 15px 4px var(--main-grey-03);
  border-radius: 20px;
  background: var(--main-grey-03);
	-webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  animation: anim-container 10s infinite; 
  margin-top: 65px; 
  font-family: 'Castoro Titling'; 
  
}
@keyframes anim-container {
  0% {
      border-radius: 10% 10% 10% 10%;
      box-shadow: 15px 15px 50px var(--main-black-02);
  }
  25% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
      box-shadow: -10px -5px 50px var(--main-black-02);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
}
  100% {
    border-radius: 10% 10% 10% 10%;
    box-shadow: 15px 15px 50px var( --main-black-02);
}

}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-text {
  font-size: 70px;
  color:var(--main-grin-0);
}  
  

.content {
  margin: auto;
  width: 400px;
  background: var(--main-grey-03);
	-webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-bottom: 50px;
  
}
.content-text__icon {
  height: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--main-grey-05);
}
.content-text_aicon {

}
#inputTasks {
  width: 270px;
  border: initial;
    transition: .4s;
	  -webkit-backdrop-filter: blur(6px);
	  backdrop-filter: blur(6px);
    &:focus-visible {
     
      outline: none;
    }
}
#inputTasks[type=text] {
    padding-left: 10px;
    color:var(--main-grin);
    font-family: 'Bubbler One'; 
}  

#buttonAdd {
  background-color: var(--main-grey-05);
  color: var(--main-grin);
  font-family: 'Bubbler One'; 
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: .1s;
  &:hover {
    background-color: var(--main-grin-04);
  }  
}
.icon{
  padding: 10px;
  width: 10px;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
  transition: transform .3s ease;
  transform: rotate(0deg);
  
  }
  .rotate {
      transform: rotate(180deg);
      background: none;
    }
    
    
.content-deletAll {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var( --main-grey-04);
  padding: 5px;
  border-radius: 0px 10px 0px 0px;
  transition: .1s;

  &:hover {
    background-color: var(--main-grin-03);
    border-radius: 0px 10px 0px 0px;

  }  
}

.selectAll {
  display: flex;
  flex-direction: row;
  background-color:  var(--main-grey-04);
  justify-content: center;
  
  

}
.content-checkbox {
  display: none;
  appearance: none;

  // width: 40px;
  // height: 25px;
  // border: 1px solid hsl(0, 0%, 100%, .6);
  // border-radius: 8px;
  // cursor: pointer;
  // transition: transform .3s ease;
  // &:hover {
  //       transform: scale(1.1);
    
  // }
  // &:checked{
  //   background-color: rgb(83, 127, 94, 0.7);
  //   background-size: 32px;
  //   background-repeat: no-repeat;
  //   background-position-x: -7px;
  //   background-position-y: -6px;
  // }
}



.selectAll-label {
  
  background-color: var(--main-grey-05);
  font-family: 'Bubbler One'; 
  font-style: normal;
  font-weight: 400;
  border: none;
  cursor: pointer;
  padding: 3px;
  transition: 0.1s;
    &:hover {
      background-color: var(--main-grin-03);
    } 
  

}
.selectAll-all {
  color: var(--main-grin);
  
}
.content-ul {
  
  

}
.content-items {
  display: flex;
  flex-direction: column;
  
  
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
  background-color: var(--main-white);
  border-bottom: 1px solid var(--main-grin);
  background: var(--main-grey-01);
	backdrop-filter: blur(6px);
  color: var(--main-white);
  
  

}

.hidden {
  
  display: none;
}
.check {
  
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-grey-06);
  border-radius: 7px;
  cursor: pointer;
  transition: transform .3s ease;
  &:hover {
        transform: scale(1.2);
    
  }
}
.check:checked {
  background-color: var(--main-grin-07);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: -7px;
  background-position-y: -6px;
  }
.text {
  flex: auto;
  font-family: 'Abel';
  display: inline-block;
  margin-left: 5px;
  font-family: 'Bubbler One'; 
  overflow: hidden;
}
.box > .check:checked + p {
      color: var(--main-grin);
      text-decoration: line-through;
      
  }
.lable-check {
}

.deleted {
  margin-right: 7px;
  width: 17px;
  cursor: pointer;
  transition: transform .3s ease;
  padding: 5px;
  transition: .3s;
  &:hover {
    background-color: var(--main-grin-07);
    border-radius: 10px;

  }  
}

.content-option {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  overflow: hidden;
  background: var(--main-grey-04);
  
}
.content-o{
  margin-left: 5px;
  
}
.content-num {
  width: 55px;
  font-family: 'Bubbler One'; 
  font-size: 16px;
}

.content-option-item {
  padding: 3px;
  width: auto;
  // border: 1px solid transparent;
  color: var(--main-grin);
  // border-radius: 10px;
  

  background-color: var(--main-grey-04);
  font-family: 'Bubbler One'; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: .1s;
  margin-left: 25px;
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  cursor: pointer;

  &:hover {
    background: var(--main-grin-04);
  }
  &:active{
    background-color: var(--main-black-09);
    color: white;
    
  }
  &:focus{
    background-color: var(--main-black-09);
    color: white;
  }
  
}
  


